{% extends 'base.html' %}
{% load static %}

{% block container-product-coupon %}
<div class="container-product-coupon">
{% for cou in allCoupons %}
<a href="coupons/{{cou.slug}}" class="mobile-display-coupon-box">
<div class="container-display-coupon-box">
    <img src="discount-tag.png" alt="" class="discount-tag" >
    
    <div class="coupon-display-image">
      
      <div class="img-gradient"><img src="{% static 'breadbash/1.jpg' %}" class="coupon-image" alt=""></div>
      <div class="coupon-name">{{cou.name}}</div>
      <div class="coupon-details">
      <div class="coupon-location-api"><input type="hidden" name="saddr" id="id1" value="Delhi"><button class="find-state" onclick="findMyState()" style="margin-left: 0px; "><img src="{% static 'placeholder.png' %}" style="height:14px;width:14px; "alt="">Bajaj Nagar</button><div class="coupon-review-api"></div></div>
      <div class="coupon-box-description">Burger·Pizza·Beverages</div> </div>
    </div>
    <a href="coupons/{{cou.slug}}"><button href="#" class="button-check-survey">{{cou.conditions}}</button></a>
  </div>
</a>

  {% endfor %}

</div>
 
{% endblock container-product-coupon %}