{% extends 'c_base.html' %}
{% block title %}Privacy Policy{% endblock title %}
{% block search_style %}display:None;{% endblock search_style %}
{% block body %}
    <div class="heading-privacypol">Privacy Policy</div>
    <div class="paragraph-privacypol">Thank you for choosing to use Refinne <br> . We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at [Contact Email].<br>

        When you visit our website, refinne.in , and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our website and our services.<br>
        
        This privacy policy applies to all information collected through our website .<br>
        
        Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us.<br>
        
        INFORMATION WE COLLECT<br>
        
        We collect personal information that you voluntarily provide to us when you register on our website. This personal information may include your name, email address, phone number, and other contact information.<br>
        
        We may also automatically collect certain information about you when you use our website or our services. This information may include your IP address, browser type, operating system, device type, and other information about your use of our website or services.<br>
        
        HOW WE USE YOUR INFORMATION<br>
        
        We use the personal information we collect to provide our services to you, to communicate with you, to respond to your inquiries, to send you marketing and promotional materials, and for other purposes related to our business. We may also use your personal information to improve our website and our services, to conduct research and analysis, and to monitor and analyze trends and usage.<br>
        
        SHARING OF YOUR INFORMATION<br>
        
        We may share your personal information with third-party service providers who perform services on our behalf, such as payment processing, email delivery, and data analysis. These service providers are authorized to use your personal information only as necessary to provide these services to us.<br>
        
        We may also share your personal information in response to a legal request, such as a court order or subpoena, or when we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, or to investigate fraud.<br>
        
        DATA RETENTION<br>
        
        We will retain your personal information for as long as necessary to fulfill the purposes outlined in this privacy policy, unless a longer retention period is required or permitted by law.<br>
        
        YOUR RIGHTS<br>
        
        You have the right to access, update or delete your personal information at any time. You may also have the right to object to or restrict certain types of processing of your personal information, or to request that we provide your personal information to a third party. To exercise these rights, please contact us at [Contact Email].<br>
        
        CHANGES TO OUR PRIVACY POLICY<br>
        
        We may update our privacy policy from time to time. If we make material changes to our privacy policy, we will notify you by email or by posting a notice on our website prior to the effective date of the changes. Your continued use of our website or our services after the effective date of the changes constitutes your acceptance of the new privacy policy.<br>
        
        CONTACT US<br>
        
        If you have any questions or concerns about our privacy policy or our practices with regards to your personal information, please contact us at [ContactEmail].</div>

{% endblock body %}