{% load static %}
<div class="nav-hamburger">
<nav role="navigation">
  <div id="menuToggle">
    <!--
    A fake / hidden checkbox is used as click reciever,
    so you can use the :checked selector on it.
    -->
    <input type="checkbox" />
    
    <!--
    Some spans to act as a hamburger.
    
    They are acting like a real hamburger,
    not that McDonalds stuff.
    -->
    <span></span>
    <span></span>
    <span></span>
    
    <!--
    Too bad the menu has to be inside of the button
    but hey, it's pure CSS magic.
    -->
    <ul id="menu">
      <a href="/"><li>Home</li></a>
      <a href="/coupons"><li>Coupons</li></a>
      <a href="/login"><li>Login</li></a>
      <a href="/profile"><li>Profile</li></a>
      
    </ul>
  </div>
</nav>
</div>

     
<!-- //////////////////////////////////////////////////////// -->

  

     <div class="navbartop">
     <div class="navtop logo bg-edge-curved"><img src="{% static 'refinne-logo-black.png' %}" class="logo top-main" alt="...."></div>
     <div class="navtop toplink couponlink"><a href="/profile" style="display: flex;color:#000000;"><img src={% static 'coins.png' %} style="height: 30px;width: 30px;border-radius: 0px;"alt=""><div class="coins">{% for coins in userCoins %}{{coins.coins}}{% endfor %}</div></a></div>
     {% if user.is_authenticated %}
     <div class="navtop toplink signup" ><div class="navtop toplink signupcat" style="color: #ffffff;width: 100%;margin: auto;"> {{request.user}} <div class="dropdown-content" style="margin-left: 0px;"><div class="dropdown-list"><a id="myBtn" href="/profile" style="color:#000000;">Profile</a></div><div class="dropdown-list"><a id="myBtn" href="/logout" style="color:#000000;">Logout</a></div></div> </div></div>
     {% else %}
     <div class="navtop toplink signup" ><div class="navtop toplink signupcat" style="color: #ffffff;width: 100%;margin: auto;"> Guest <div class="dropdown-content" style="margin-left: 0px;"><div class="dropdown-list"><a id="myBtn" href="/login" style="color:#000000;">Login</a></div><div class="dropdown-list"><a href="/signup" style="color:#000000;">Sign Up</a></div><div class="dropdown-list"></div></div> </div></div> 
     {% endif %}
     <div class="navtop toplink categorylink" style="color:#000000;">Categories <div class="dropdown-content"><div class="dropdown-list"><a href="/dinning" style="color:#000000;">Dinning</a></div><div class="dropdown-list"><a href="/cafe" style="color:#000000;">Cafe</a></div></div></div>
     
     {% if data %}
     <div class="navtop toplink couponlink"><a href="/dashboard" style="color:#000000;">Dashboard</a></div>
      {% else %}
      <div class="navtop toplink couponlink"><a href="/coupons/" style="color:#000000;">Coupons</a></div>
      {% endif%}
     
     <div class="navtop toplink homelink"><a href="/" style="color:#000000;">Home</a> </div>

      
      
     </div>






