<header class="nav-bottom">
<a href="index.php"><div class="offer-bar"><img src="home-button.png" alt="" style="height:35px;width:35px;"></div></a>
<a href="dinning.php"><div class="offer-bar"><img src="cloche-button.png" alt="" style="height:40px;width:40px;"></div></a>
<a href="survey_id_1.php"><div class="offer-bar"><img src="coupon-button.png" alt="" style="height:40px;width:40px;"></div></a>
<a href="login.php"><div class="offer-bar"><img src="user-button.png" alt="" style="height:35px;width:35px;"></div></a>


</header>