{% extends 'c_base.html' %}
{% block title %}Cafes{% endblock title %}
{% load static %}
{% block search_style %}display: flex;align-items: center;justify-content: center;{% endblock search_style %}


{% block body %}

   

   <div id="container">
   {% for cou in allCoupons %}
   
        
  

   <!-- A div with card class for the card  -->
   <div class="card">
     <img src="{% static 'csmumb.jpg' %}" alt="Lago di Braies">

     <!-- A div with card__details class to hold the details in the card  -->
     <div class="card__details">

       <!-- Span with tag class for the tag -->
       <span class="tag">{{cou.offer}} % off</span>

       

       <!-- A div with name class for the name of the card -->
       <div class="name">{{cou.name}}</div>

       <p>{{cou.content | truncatechars:100 }}</p>

       
       <a href="/coupons/{{cou.slug}}" role="button" class="but1"><button class="but1">Avail Offer</button></a>
     </div>


   </div>
 

   {% endfor %}
  </div>
{% endblock body %}
