




<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel = "icon" href = "" type = "image/x-icon">
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="{% static 'target.png' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
 

  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@700&family=Reem+Kufi+Fun:wght@600&display=swap" rel="stylesheet"> 


</head>
<body>

    

<div class="loader_bg">
    <div class="loader"></div>
  </div> 
  <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
  </div>

</div>

<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some </p><br>
    <p>text </p><br>
    <p>in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
    <p>Some text in the Modal..</p><br>
  </div>

</div>
  
  {% include 'includes/partials/navbar-bottom.html' %}

  <div class="whole-content">

  <!-- ///////////////////////////////////////////////////////////// -->
  {% include 'includes/partials/navbar.html' %}
    
     
     <div class="introimg" >
        {% block body %}{% endblock body %}
      
          


      
      
      
      <div class="upper-centered-objects">
         
        <div class="site-text">RE:FINNE</div>
        <div class="site-subtext">Discover the best dine-in deals in Nagpur</div>
        <div class="primeimg" style="border-radius: 680px;box-shadow: 0px 10px 30px black;height:200px;margin-right: 20px;"><img src="{% static 'primephoto/3.png' %}" style="height:200px;width:200px;margin-top:0px;margin-right: 0px;"alt=""></div>
        <div class="primeimg" style="border-radius: 580px;box-shadow: 0px 10px 30px black; height:300px;margin-top:200px;margin-right: -60px;"><img src="{% static 'primephoto/2.png' %}" style="height:300px;width:300px;"alt=""></div>
        <div class="primeimg" style="margin-right: -100px;margin-right: -200px;"><img src="{% static 'primephoto/1.png' %}" style="height:200px;width:200px;"alt=""></div>

        <div class="primeimgphone" style="border-radius: 680px;box-shadow: 0px 10px 30px black;height:200px;margin-right: -90px;margin-top: -40px;"><img src="{% static 'primephoto/3.png' %}" style="height:200px;width:200px;margin-top:0px;margin-right: 0px;"alt=""></div>
        <div class="primeimgphone" style="border-radius: 580px;box-shadow: 0px 10px 30px black; height:300px;margin-top:200px;margin-right: -230px;"><img src="{% static 'primephoto/2.png' %}" style="height:300px;width:300px;"alt=""></div>
        <div class="primeimgphone" style="margin-left: -94px;margin-top: 170px;float: left;"><img src="{% static 'primephoto/1.png' %}" style="height:200px;width:200px;"alt=""></div>
        <form method="get" action="/search">
            <div class="search-box" style="">
                <input type="search" placeholder="Search for offers & deals" class="search-bar" name="query" id="query">
                <button type="submit" class="search-icon"><img src="{% static 'search-icon.png' %}" style="height: 20px;width: 20px;" alt=""></button>
                
            </div>
    </form>
        

      </div>
   
     </div>
     
    
{% comment %} <div class="uppermiddleboxes">

  <div class="middlebox"><img src="{% static 'chicken-leg.png' %}" alt="" style="height:40px; width:40px; margin:5px;"></div>
  <div class="middlebox"><img src="{% static 'sweets.png' %}" alt="" style="height:40px; width:40px; margin:5px;"></div>
  <div class="middlebox"><img src="{% static 'masala-dosa.png' %}" alt="" style="height:40px; width:40px; margin:5px;"></div>
  <div class="middlebox"><img src="{% static 'cake-slice.png' %}" alt="" style="height:40px; width:40px; margin:5px;"></div>

</div>

<div class="uppermiddleboxes" >
  <div class="middlebox" ></div>
  <div class="middlebox" ></div>
  <div class="middlebox"></div>
  <div class="middlebox" ></div>
</div> {% endcomment %}

     <div class="upper-center-body ">
     <div class="container-intro-text">Categories</div>
     <div class="container-desc-text">Explore curated lists of top restaurants, cafes, pubs, and bars in Nagpur, based on trends</div>
       <div class="product-category">
        
        <div class="display-category-box">
          
        
          <div class="category-display-image">
            <img src="{% static 'category1.jpg' %}" class="category-image 1" alt="">
            <div class="category-display-image-overlay"></div>
          </div>
          <div class="category-name">Cafe</div>
        </div>

        <div class="display-category-box">
          
        
          <div class="category-display-image"><img src="{% static 'category2.jpg' %}" class="category-image 1" alt=""></div>
          <div class="category-name">Dinning</div>
        </div>

        <div class="display-category-box">
          
        
          <div class="category-display-image"><img src="{% static 'category3.jpg' %}" class="category-image 1" alt=""></div>
          <div class="category-name">Pharmacy</div>
        </div>

        <div class="display-category-box">
          
        
          <div class="category-display-image"><img src="{% static 'category4.jpg' %}" class="category-image 1" alt=""></div>
          <div class="category-name">Grocery</div>
        </div>

        
        
       </div>

     </div>



     {% comment %} <div class="center-body 1"> {% endcomment %}
     
     <!-- //////////////////////// -->
     <div class="w3-content w3-display-container">
     <button class="w3-button w3-black w3-display-left" style="background-color: transparent;border: aliceblue; height: 40px;width: 20px;margin-top: 150px;" onclick="plusDivs(-1)">&#10094;</button>

     <div class="container-display-coupon-box mySlides">
          <img src="discount-tag.png" alt="" class="discount-tag" >
          
          <div class="coupon-display-image"><img src="{% static 'square one/1.jpg' %}" class="coupon-image" alt=""></div>
          <div class="coupon-name">Square One cafe</div>
          <div class="coupon-details">A unique expirience for your pallette. The variable of the variety on your plate</div>
          <a href="square one"><button href="#" class="button-check-survey">Get Coupons</button></a>
        </div>
     
      <div class="container-display-coupon-box mySlides">
        <img src="discount-tag.png" alt="" class="discount-tag" >
          
          <div class="coupon-display-image"><img src="{% static 'villa 164/1.jpg' %}" class="coupon-image" alt=""></div>
          <div class="coupon-name">Villa 164</div>
          <div class="coupon-details">Great taste of food with genuine decorations</div>
          <a href="villa 164"><button href="#" class="button-check-survey">Get Coupons</button></a>
        </div>

      <div class="container-display-coupon-box mySlides">
        <img src="discount-tag.png" alt="" class="discount-tag" >
          
          <div class="coupon-display-image"><img src="{% static 'java cafe/1.jpg' %}" class="coupon-image" alt=""></div>
          <div class="coupon-name">Java Coffee Club</div>
          <div class="coupon-details">Cuisine you have never tasted before</div>
          <a href="java cafe"><button href="#" class="button-check-survey">Get Coupons</button></a>
        </div>
    
      <div class="container-display-coupon-box mySlides">
        <img src="discount-tag.png" alt="" class="discount-tag" >
          
          <div class="coupon-display-image"><img src="{% static 'frullato/1.jpg' %}" class="coupon-image" alt=""></div>
          <div class="coupon-name">Frullato</div>
          <div class="coupon-details">Great food at your doorstep</div>
          <a href="frullato"><button href="#" class="button-check-survey">Get Coupons</button></a>
        </div>
        
      
       
  
  <button class="w3-button w3-black w3-display-right" style="background-color: transparent; border: aliceblue;height: 40px;width: 20px;margin-top: 150px;" onclick="plusDivs(1)">&#10095;</button>
</div>
<!-- ///////////////////////////////////// -->
     
     {% comment %} <div class="container-product-coupon"> {% endcomment %}
      <div class="container-intro-text">Famous Cafes</div>
     <div class="container-desc-text">Explore curated lists of top restaurants, cafes, pubs, and bars in Nagpur, based on trends</div>
     
        
        {% block container-product-coupon %}{% endblock container-product-coupon %}
        
        
       {% comment %} </div> {% endcomment %}
       



     {% comment %} </div> {% endcomment %}

     <div class="footer">Re:finne © 2021 <a href="/privacypolicy" class="privacypol">Privacy Policy</a><a href="/aboutus" class="privacypol">About Us</a><a href="/contactus" class="privacypol">Grege Rodrigues +91 9999999999</a></div>
     


    </div>
    <?php
     include 'partials/bottombar.php';
     ?>
     

    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'index.js' %}"></script>
    <script>
    
    

// Get the button that opens the modal


// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

        setTimeout(function(){
            $('.loader_bg').fadeToggle();
        }, 1500);

        var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}
var findMyState =() =>{
    

  var success=(position)=>{
      console.log(position)
      var latitude =position.coords.latitude;
      var longitude = position.coords.longitude;
      console.log(latitude +''+longitude)
      document.getElementById('id1').value = latitude+' '+longitude;
      location.replace('https://www.google.com/maps?saddr='+latitude+','+longitude+'&daddr=The+square+one+cafe')
      
      
  }
  

  navigator.geolocation.getCurrentPosition(success);
  
  
}



document.querySelector('.find-state').addEventListener('click',findMyState);


var myIndex = 0;
carousel();

function carousel() {
var i;
var x = document.getElementsByClassName("mySlides");
for (i = 0; i < x.length; i++) {
  x[i].style.display = "none";  
}
myIndex++;
if (myIndex > x.length) {myIndex = 1}    
x[myIndex-1].style.display = "block";  
setTimeout(carousel, 4000); // Change image every 2 seconds
}


function infiniteSlider(){
var count;
var b = document.getElementsByClassName("bg_slider");
for(count=0; count < 100;count++){
  
}
}

function dropdownBtn(){
dropdowncontent.style.display = "block";

}


var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
if (event.target == modal) {
  modal.style.display = "none";
}
}
    </script>

</body>




</html>




<!-- <?php echo $_SESSION['username']?> -->