
<footer class="footer">
     <div class="footer_info">
        <a href="/" class="footer_head" >Refinne</a>
        <div class="socials"></div>
        <div class="copyright"></div>
     </div>
     <div class="footer_info">
      <div class="footer_h">Company</div>
      <div class="footer_tail">Privacy Policy</div>
      <div class="footer_tail">Terms and Conditions</div>
      <div class="footer_tail"></div>
     </div>
     <div class="footer_info">
      <div class="footer_h">Contact Us</div>
      <div class="footer_tail">Email</div>
      <div class="footer_tail">Whatsapp</div>
      <div class="footer_tail"></div>
     </div>
     
</footer>