{% extends 'c_base.html' %}
{% load static %}




{% block title %}Coupons active form{% endblock title %}

{% block search_style %}display: none;{% endblock search_style %}


{% block body %}
<div class="container">

    <h1>Coupons form</h1>
<form method='post' action='/dashboard' >
  {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" >
      
    </div>
    <div class="form-group">
      <label for="offer">offer</label>
      <input type="text" class="form-control" id="offer" name="offer" aria-describedby="offer" >
      
    </div>
    <div class="form-group">
      <label for="conditions">conditions</label>
      <input type="text" class="form-control" id="conditions" name="conditions" aria-describedby="conditions" >
      
    </div>
    <div class="form-group">
      <label for="slug">slug</label>
      <input type="text" class="form-control" id="slug" name="slug" aria-describedby="slug" >
      
    </div>
    
    <div class="form-group">
      <label for="content">content</label>
      <input type="text" class="form-control" id="content" name="content" aria-describedby="content" >
      
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div> 
 

{% endblock body %}

