{% extends 'c_base.html' %}
{% load static %}




{% block title %}Coupons active form{% endblock title %}

{% block search_style %}display: none;{% endblock search_style %}


{% block body %}
{% comment %} <div class="container">

    <h1>Coupons form</h1>
<form method='post' action='/dashboard' >
  {% csrf_token %}
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" aria-describedby="name" >
      
    </div>
    <div class="form-group">
      <label for="offer">offer</label>
      <input type="text" class="form-control" id="offer" name="offer" aria-describedby="offer" >
      
    </div>
    <div class="form-group">
      <label for="conditions">conditions</label>
      <input type="text" class="form-control" id="conditions" name="conditions" aria-describedby="conditions" >
      
    </div>
    <div class="form-group">
      <label for="slug">slug</label>
      <input type="text" class="form-control" id="slug" name="slug" aria-describedby="slug" >
      
    </div>
    
    <div class="form-group">
      <label for="content">content</label>
      <input type="text" class="form-control" id="content" name="content" aria-describedby="content" >
      
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>  {% endcomment %}

<div class="formbold-main-wrapper">
  <!-- Author: FormBold Team -->
  <!-- Learn More: https://formbold.com -->
  <div class="formbold-form-wrapper">
    <img src="your-image-url-here.jpg">
    <form action="/dashboard" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="formbold-input-group">
        <label for="name" class="formbold-form-label required-field"> Name </label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your Cafe/Dinning name"
          class="formbold-form-input"
          required/>
      </div>
      <div class="formbold-input-group">
        <label for="name" class="formbold-form-label required-field"> Image </label>
        <input
          type="file"
          name="image"
          id="image"
          placeholder="Enter your Cafe/Dinning Images"
          class="formbold-form-input"
          required/>
      </div>

      <div class="formbold-input-group">
        <label for="email" class="formbold-form-label required-field"> Location </label>
        <input
          type="text"
          name="location"
          id="location"
          placeholder="Enter your location (For eg. Street 157 Narman)"
          class="formbold-form-input"
          required/>
      </div>
      <div class="formbold-input-group">
        <label for="email" class="formbold-form-label required-field"> Offer </label>
        <input
          type="text"
          name="offer"
          id="offer"
          placeholder="Enter your offer (For eg. 20% off)"
          class="formbold-form-input"
          required/>
      </div>
      <div class="formbold-input-group">
        <label for="email" class="formbold-form-label required-field"> Conditions </label>
        <input
          type="text"
          name="conditions"
          id="conditions"
          placeholder="Enter your conditions (For eg. Above Rs. 299)"
          class="formbold-form-input"
          required/>
      </div>
      <div class="formbold-input-group">
        <label for="email" class="formbold-form-label required-field"> Slug </label>
        <input
          type="text"
          name="slug"
          id="slug"
          placeholder="Enter your email"
          class="formbold-form-input"
          required/>
      </div>
      


      <div>
        <label for="message" class="formbold-form-label required-field">
          Content
        </label>
        <textarea
          rows="6"
          name="content"
          id="content"
          placeholder="Enter content to display"
          class="formbold-form-input"
        required></textarea>
      </div>

      <button type="submit" class="formbold-btn">Submit</button>
    </form>
  </div>
</div>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Inter', sans-serif;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }
  .required-field::after {
    content: "*";
    color: red;
    margin-left:2px
  }

  .formbold-form-wrapper {
    margin: 0 auto;
    max-width: 570px;
    width: 100%;
    background: white;
    padding: 40px;
  }

  .formbold-form-img {
    margin-bottom: 45px;
  }

  .formbold-input-group {
    margin-bottom: 18px;
  }

  .formbold-form-select {
    width: 100%;
    padding: 12px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }

  .formbold-input-radio-wrapper {
    margin-bottom: 25px;
  }
  .formbold-radio-flex {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .formbold-radio-label {
    font-size: 14px;
    line-height: 24px;
    color: #07074d;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .formbold-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .formbold-radio-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #dde3ec;
    border-radius: 50%;
  }
  .formbold-radio-label
    .formbold-input-radio:checked
    ~ .formbold-radio-checkmark {
    background-color: #6a64f1;
  }
  .formbold-radio-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .formbold-radio-label
    .formbold-input-radio:checked
    ~ .formbold-radio-checkmark:after {
    display: block;
  }

  .formbold-radio-label .formbold-radio-checkmark:after {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

  .formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    outline: none;
    resize: none;
  }
  .formbold-form-input::placeholder {
    color: #536387;
  }
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #07074d;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
</style>
 

{% endblock body %}

