{% extends 'c_base.html' %}
{% block title %}c_home{% endblock title %}
{% load static %}
{% block search_style %}display: none;{% endblock search_style %}
{% block body %}

{% for cou in one_entry %}

    <div class="poster-top">
      <div class="coupon-front-name">{{cou.name}}</div>
      <div class="coupon-review">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
      <div class="coupon-front-ldescription">{{cou.content}}</div>
      <div class="coupon-front-description">{{cou.conditions}}</div>
      <div class="coupon-location" ><img src="{% static 'placeholder-loc.png' %}" alt="" srcset="" style="height: 1em;width: 1em;"> Location</div>
      <div class="coupon-poster">
        <div class="coloumnp1">
          <div class="coupon-voucher">COUPON</div>
          <div class="line"></div>
          
          <div class="coupon-code">Coupon Code:-{{cou.code}}</div> 
          
        </div>
        <div class="coloumnp2"><div class="coupon-front-offer">{{cou.offer}} % <br> OFF</div></div>
        
        {% comment %} <div class="coupon-voucher">COUPON</div>
        
        {% endcomment %}
      </div>
      <div class="menu-loc-container">
        <button  class="menu-btn" ><img src="{% static 'menu.png' %}" alt="" srcset="" style="height: 1em;width: 1em;"> Menu</button>
        <button onclick="findMyState()" class="location-btn" ><img src="{% static 'placeholder-loc.png' %}" alt="" srcset="" style="height: 1em;width: 1em;"> Location</button><div id="id1"></div></div>
    </div>



   


   <div class="coupon-front-display">
    <div class="coupon-front-poster" >
      
      
      
      

      
      
    </div>
    <div class="coupon-front-img">
      {% if cou.image %}

        <img src="{{ cou.image.url }}" class="photo-square-coupon" alt="">
        <img src="{{ cou.image.url }}" class="photo-square-coupon" alt="">
        <img src="{{ cou.image.url }}" class="photo-square-coupon" alt="">
        <img src="{{ cou.image.url }}" class="photo-square-coupon" alt="">
        {% endif %}
      
      
    </div>

    {% comment %} <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{% static 'discount-avatar.png' %}" alt="Avatar" style="width:75px;height:60px;">
        </div>
        <div class="flip-card-back">
          <div class="coupon-code">{{cou.code}}</div>
        </div>
      </div>
    </div> {% endcomment %}

    

    
    {% comment %} <div class="coupon-content">{{cou.content | truncatechars:100 }}</div> {% endcomment %}
    
    
   

  </div>
  

   
   
      
  
       

       

       
      

       <p></p>

       
       {% comment %} {{cou.slug}} {% endcomment %}
       
       


   </div>
 </div>

 <script>var findMyState =() =>{
    

  var success=(position)=>{
      console.log(position)
      var latitude =position.coords.latitude;
      var longitude = position.coords.longitude;
      console.log(latitude +''+longitude)
      document.getElementById('id1').value = latitude+' '+longitude;
      location.replace('https://www.google.com/maps?saddr='+latitude+','+longitude+'&daddr=The+square+one+cafe')
      
      
  }
  

  navigator.geolocation.getCurrentPosition(success);
  
  
}



document.querySelector('.find-state').addEventListener('click',findMyState);
</script>

   {% endfor %}

   
{% endblock body %}
