{% extends 'c_base.html' %}
{% block title %}c_home{% endblock title %}
{% load static %}
{% block search_style %}display: none;{% endblock search_style %}
{% block body %}

{% for cou in one_entry %}

    <div class="poster-top">
      <div class="coupon-front-name">{{cou.name}}</div>
      <div class="coupon-front-description">Burger·Pizza·Beverages</div>
      <div class="coupon-location" style="position: relative;margin: 4em;width: 145px;margin-top: 5em;margin-bottom: 0px;margin-left: 5px;float: left;font-size: 25px;color: black;font-family: 'roboto condensed';padding: 5px;  background: #f9f3ec;border-radius: 8px;"><img src="{% static 'placeholder-loc.png' %}" alt="" srcset="" style="height: 1em;width: 1em;"> Location</div>
      <div class="coupon-front-price">₹200 <br> for two</div>
    </div>



   


   <div class="coupon-front-display">
    <div class="coupon-front-poster" >
      <div class="coupon-voucher">COUPON</div>
      <div class="coupon-front-offer">{{cou.offer}} % <br> OFF</div>
      <div class="coupon-code">Coupon code :-{{cou.code}}</div>
      
      
      

      
      
    </div>
    <div class="coupon-front-img">
      <img src="{% static 'breadbash/1.jpg' %}" style="height:13em;width:13em;margin:0.5em;" alt="">
      <img src="{% static 'breadbash/2.jpg' %}" style="height:13em;width:13em;margin:0.5em;" alt="">
      <img src="{% static 'breadbash/3.jpg' %}" style="height:13em;width:13em;margin:0.5em;" alt="">
      <img src="{% static 'breadbash/4.jpg' %}" style="height:13em;width:13em;margin:0.5em;" alt="">
      
    </div>

    {% comment %} <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="{% static 'discount-avatar.png' %}" alt="Avatar" style="width:75px;height:60px;">
        </div>
        <div class="flip-card-back">
          <div class="coupon-code">{{cou.code}}</div>
        </div>
      </div>
    </div> {% endcomment %}

    

    <div class="coupon-front-name" style="margin-left: 20%; font-size: 2em;"></div>
    {% comment %} <div class="coupon-content">{{cou.content | truncatechars:100 }}</div> {% endcomment %}
    
    
    <div class="coupon-menu"><img src="{% static 'menu.png' %}" alt="" srcset="" style="height: 1em;width: 1em;border-radius: 0px;"> Menu</div>
    <button onclick="findMyState()" class="coupon-location" ><img src="{% static 'placeholder-loc.png' %}" alt="" srcset="" style="height: 1em;width: 1em;"> Location</button>

  </div>
  

   
   
      
  
       

       

       
      

       <p></p>

       
       {% comment %} {{cou.slug}} {% endcomment %}
       
       <div class="footer">Re:finne © 2021</div>


   </div>
 </div>

   {% endfor %}

      
{% endblock body %}
